body {
    background: #FFF;
    overflow: auto;
    margin: 0; 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
} 

/* vvvvvvvvvvvvvvvv Header vvvvvvvvvvvvvvvv */

#aba {
    display: flex; 
    flex-direction: row; 
    width: 80%;
    padding: 0% 15%;
    box-sizing: border-box;
    margin: 0;
}

#btop1, #btop2, #btop3, #btop4{
    background: #295872;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    text-align: center;
    line-height: 2;
    margin: 0px 5px 0px 0px;
    height: 30px;
    width: 200px;
    border-radius: 15px 15px 0% 0%;
    float: left;
}

#bprincipal {
    background: #295872;
    height: 110px;
    width: calc(100%-2%);
    box-sizing: border-box;
    padding: 0% 15%;
}

.logo{
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    line-height: 2;
	color: white;
    float: left;
}

.ladodireito{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    text-align: right;
    line-height: 9;
    float: right;
    width: 50%;
}

/* Reseta o FLuxo */
.clear{
    clear: both;
}

.center{
    text-align: center;
}

.imgbprincipal{
    height: 20px;
}
.imgmoto{
    height: 25px;
}

a{
    text-decoration: none; 
}

/*Estilos para link da logo*/
.logo a:link{
    color: #FFF; 
}

.logo a:visited{
    color: #FFF; 
}

.logo a:hover{
    color: #FFF; 
}

.logo a:active{
    color: #FFF; 
}

/* Estilos para links dentro da classe .ladodireito */
.ladodireito a:link {
    color: #FFF; 
}

.ladodireito a:visited {
    color: #FFF; 
}

.ladodireito a:hover {
    color: black; 
}

.ladodireito a:active {
    color: #FFF; 
}

/* Estilos para links dentro do elemento com id #aba */
#aba a:link {
    color: #FFF; 
}

#aba a:visited {
    color: #FFF; 
}

#aba a:hover {
    color: black; 
}

#aba a:active {
    color: #FFF; 
}

@media screen and (max-width: 1252px){
    #aba, .ladodireito{
        display: none;
    }
    
    #bprincipal{
        padding: 0% 3%;
        height: 80px;
    }

    .logo{
        font-size: 36px;
    }
}

/* ^^^^^^^^^^^^^^^^ Fim Header ^^^^^^^^^^^^^^^^ */



/* vvvvvvvvvvvvvvvv Header vvvvvvvvvvvvvvvv */

footer {
    text-align: center;
    background-color: #123241;
    color: white;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

/* ^^^^^^^^^^^^^^^^ Fim Footer ^^^^^^^^^^^^^^^^ */

