body {
    background: #FFF;
    overflow: auto;
    margin: 0; 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
} 

/* vvvvvvvvvvvvvvvv Main vvvvvvvvvvvvvvvv */
    
.form-container {
    background-color: #123241;
    margin: 0 0 2% 0;
    padding:1% 15%;
    width: calc(100%-2%);
}

.inside{
    width: 100%;
}

.form-container h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 10px;
}

form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #555;
}

.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    width: 80%; /* Reduzindo um pouco a largura do carrossel */
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
}

.slide img {
    max-width: 70%; /* Alterei de 80% para 100% */
    height: auto;
}

    /* ^^^^^^^^^^^^^^^^ Fim Main ^^^^^^^^^^^^^^^^ */